<aside>
    <h2>Playlist PMCanal5</h2>
    <a href="#"> Escuchar más</a>
    <section id="spotify" class="cajas-border-gray">
        <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A4th1RQAelzqgY7wL53UGQt" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
        <img src="images/aside/publicidadPM.jpg" alt="Publicidad PM"/>
    </section>
    <section id="box-social-media ">
        <h2>Sigue Canal 5</h2>
        <div class="container-social-media">
           <div class="social-box background-face">
               <span class="fa fa-facebook"></span>
               <span class="count">1000</span>
               <span class="name"> Fans</span>
           </div>
            <div class="social-box background-twitter">
                <span class="fa fa-twitter"></span>
                <span class="count">1000</span>
                <span class="name">Seguidores</span>
            </div>
            <div class="social-box background-youtube">
                <span class="fa fa-twitter"></span>
                <span class="count">1000</span>
                <span class="name">Suscriptores</span>
            </div>
            <div class="social-box background-instagram">
                <span class="fa fa-instagram"></span>
                <span class="count">1000</span>
                <span class="name">Suscriptores</span>
            </div>
            <div class="social-box background-spotify">
                <span class="fa fa-spotify"></span>
                <span class="count">1000</span>
                <span class="name">Seguidores</span>
            </div>
            <div class="social-box background-vine">
                <span class="fa fa-vine"></span>
                <span class="count">1000</span>
                <span class="name">Seguidores</span>
            </div>
        </div>
    </section>
    <section id="newslatter-box">
        <div class="row">
            <div class="col-md-4">
                <span>icono correo</span>
                <span class="count-newsletter">2000</span>
                <span class="name">Suscriptores</span>
            </div>
            <div class="col-md-8">
                <input type="text"/>
                <button>Suscribirme</button>
            </div>
        </div>
    </section>
    <section>
        <h2>Social PMCANAL 5</h2>
        <div class="container-social-aside">
            AQUI VA LA CAJA DE REDES YA HECHA EN PM
        </div>
    </section>
</aside>
