<nav class="navbar-collapse collapse nopadding">
    <img class="logoPM n-icon-67-pmlogo" src="images/main/blank.png"/>
    <img class="logoPM n-icon-67-canal5" src="images/main/blank.png"/>
    <ul class="nav navbar-nav">
        <li>
            <a href="/actitudpm" class="f-menu">ACTITUD PM</a>
        </li>
        <li class="dropdown">
            <a id="o-tv-menu" class="f-menu" data-toggle="dropdown">TV <b class="caret"></b></a>
            <div class="dropdown-menu" id="dropmenuTV">
                <div class="container-drpdw">
                    <div id="imgTVContainer" class="col-md-4">
                        <img id="imgTV-01" src="images/header/menu/img_programa_01.jpg" alt="Cuenta Pendiente"
                             class="img-programa"/>
                        <img id="imgTV-02" src="images/header/menu/img_programa_02.jpg" alt="Diablito Show"
                             class="img-programa"/>
                        <img id="imgTV-03" src="images/header/menu/img_programa_03.jpg" alt="Heroes del Norte"
                             class="img-programa"/>
                        <img id="imgTV-04" src="images/header/menu/img_programa_04.jpg"
                             alt="Karaoke, canta y no te rajes" class="img-programa"/>
                        <img id="imgTV-05" src="images/header/menu/img_programa_05.jpg" alt="Me caigo de risa"
                             class="img-programa"/>
                        <img id="imgTV-06" src="images/header/menu/img_programa_06.jpg" alt="Paranoia Total"
                             class="img-programa"/>
                        <img id="imgTV-07" src="images/header/menu/img_programa_07.jpg" alt="The Ultimate Fighter"
                             class="img-programa"/>
                        <img id="imgTV-08" src="images/header/menu/img_programa_08.jpg" alt="Turnocturno"
                             class="img-programa"/>
                        <img id="imgTV-09" src="images/header/menu/img_programa_09.jpg" alt="Vas con Todo"
                             class="img-programa"/>
                        <img id="imgTV-10" src="images/header/menu/img_programa_10.jpg" alt="Zona Ruda"
                             class="img-programa"/>
                    </div>
                    <div class="col-md-8">
                        <ul class="col-md-4">
                            <li id="Cuentapendiente"><a attr-img="imgTV-01" href="/cuentapendiente">CUENTA PENDIENTE</a>
                            </li>
                            <li id="DiablitoShow"><a attr-img="imgTV-02" href="/diablitoshow">DIABLITO SHOW</a></li>
                            <li id="HeroesDelNorte"><a attr-img="imgTV-03" href="/heroesdelnorte">HÉROES DEL NORTE</a>
                            </li>
                            <li id="karaoke"><a attr-img="imgTV-04" href="/karaoke">KARAOKE, CANTA Y NO TE RAJES</a>
                            </li>
                        </ul>
                        <ul class="col-md-4">
                            <li id="MeCaigodeRisa"><a attr-img="imgTV-05" href="/mecaigoderisa">ME CAIGO DE RISA</a>
                            </li>
                            <li id="ParanoiaTotal"><a attr-img="imgTV-06" href="/paranoiatotal">PARANOIA TOTAL</a></li>
                            <li id="TheUltimateFighter"><a attr-img="imgTV-07" href="/theultimatefighter">THE ULTIMATE
                                FIGHTER</a></li>
                            <li id="Turnocturno"><a attr-img="imgTV-08" href="/turnocturno">TURNOCTURNO</a></li>
                        </ul>
                        <ul class="col-md-4">
                            <li id="VasconTodo"><a attr-img="imgTV-09" href="/vascontodo">VAS CON TODO</a></li>
                            <li id="ZonaRuda"><a attr-img="imgTV-10" href="/zonaruda">ZONA RUDA</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown">
            <a id="o-tv-menu02" class="f-menu" data-toggle="dropdown">Digital <b class="caret"></b></a>
            <ul class="dropdown-menu" id="dropmenuDigi">
                <div class="container-drpdw">
                    <div id="imgDIGITALContainer" class="col-md-4">
                        <img id="imgDigi-01" src="images/header/menu/img_programa_Digi01.jpg" alt="Area Chica"
                             class="img-programa"/>
                        <img id="imgDigi-02" src="images/header/menu/img_programa_Digi02.jpg" alt="El Experimento"
                             class="img-programa"/>
                        <img id="imgDigi-03" src="images/header/menu/img_programa_Digi03.jpg" alt="Japon Poi"
                             class="img-programa"/>
                        <img id="imgDigi-04" src="images/header/menu/img_programa_Digi04.jpg" alt="Los Visitantes"
                             class="img-programa"/>
                        <img id="imgDigi-05" src="images/header/menu/img_programa_Digi05.jpg" alt="Pamboleros PM"
                             class="img-programa"/>
                        <img id="imgDigi-06" src="images/header/menu/img_programa_Digi06.jpg"
                             alt="Viajando con Followers" class="img-programa"/>
                    </div>
                    <div class="col-md-8">
                        <ul class="col-md-4">
                            <li id="AreaChica"><a attr-img="imgDigi-01" href="/cuentapendiente">ÁREA CHICA</a></li>
                            <li id="ElExperimento"><a attr-img="imgDigi-02" href="/diablitoshow">EL EXPERIMENTO</a></li>
                            <li id="JaponPoi"><a attr-img="imgDigi-03" href="/heroesdelnorte">JAPON POI</a></li>
                            <li id="LosVisitantes"><a attr-img="imgDigi-04" href="/karaoke">LOS VISITANTES</a></li>
                        </ul>
                        <ul class="col-md-4">
                            <li id="PambolerosPM"><a attr-img="imgDigi-05" href="/mecaigoderisa">PAMBOLEROS PM</a></li>
                            <li id="ViajandoConFollowers"><a attr-img="imgDigi-06" href="/paranoiatotal">VIAJANDO CON
                                FOLLOWERS</a></li>
                        </ul>
                        <ul class="col-md-4">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </ul>
        </li>
        <li>
            <a class="f-menu" href="/break">El_Break_PM</a>
        </li>
        <li>
            <a class="f-menu" href="/social">SOCIAL</a>
        </li>
        <li>
            <a class="f-menu" href="/horarios">HORARIOS</a>
        </li>
    </ul>
    <input type="text"/>
</nav>