<div id="user-bar">
    <div class="background-userbar"></div>
    <div class="user-options f-menu-u logged bar-login" id="user-options" style="display:none">
        <span class="icon-user avatar-user-data" style="background: url('');"></span><span class="login"><a href="/editar-perfil" class="name-user-data">name</a><b onclick="pm5.logout()" style="float:right;" class="exit-btn">/ SALIR</b></span>
    </div>
    <div class="user-options f-menu-u bar-unlogin" id="user-options" style="display: block;">
        <span class="icon-user"></span><span class="login" data-toggle="modal" data-target="#modal-login">ENTRAR / REGÍSTRARSE</span>
    </div>
</div>
