
<!DOCTYPE html>
<html>
    <head>
        <title>PM Canal 5* - {% block title '' %}</title>

        <link href="{{ asset('css/generals.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="{{ asset('js/lib/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('js/lib/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/loginModal.js') }}"></script>
        <script src="{{ asset('js/submenu.js') }}"></script>
    </head>
    <body id="PMCanal5">
    <header>

        {% block navuser %}
            {% include 'test/navPMUser.html' %}
        {% endblock %}

        {% block navPM %}
            {#% include 'test/navPM.html' %#}
        {% endblock %}

        {% block BreadCrumb %}
        {% endblock %}

        {% block promo %}
            {# % include 'test/promoPM.html' % #}
        {% endblock %}
    </header>
    {% block content %}

    {% endblock %}

    {# % include 'boxes/box.php' % #}
    {% include 'boxes/promoSlider.html' %}
    {% include 'boxes/twitterBox.html' %}
    {% include 'test/modalesGeneral.html' %}




    </body>

</html>
