<div>
	<div class="header">
		<nav class="menu">
		</nav>
		<div class="submenu">
		</div>
	</div>
	<div class="imageHeader">
	</div>
	<div class="publicity">
	</div>
	<div clas="container">
		<div class="containerPost">
			<div class="containerEditorial">
				<img src="">
				<p></p>
			</div>
			<div class="lastPost">
				<ul>
					<li>
						<div>
							<img src="">
							<p class="legend"></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p class="legend"></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p class="legend"></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p class="legend"></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p class="legend"></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p class="legend"></p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="containerBox">
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
		</div>  
	</div>
	<footer></footer>
</div>