<div>
	<div class="header">
		<nav class="menu">
		</nav>
		<div class="submenu">
		</div>
	</div>
	<div class="imageHeader">
	</div>
	<div class="publicity">
	</div>
	<div clas="container">
		<div class="playlist">
			<div class="listMusic">
				<div class="musicPlayer">
					<img src="">
					<div class="music"></div>
				</div>
				<div class="list">
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
				</div>
			</div>
			<div class="reproductive">
				<p class="title"></p>
				<img src="">
				<p class="legend"></p>
			</div>
			<div class="moreMusic">
				<ul>
					<li>
						<div>
							<img src="">
							<p></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p></p>
						</div>
					</li>
					<li>
						<div>
							<img src="">
							<p></p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="containerBox">
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
		</div>  
	</div>
	<footer></footer>
</div>