<div>
	<div class="header">
		<nav class="menu">
		</nav>
		<div class="submenu">
		</div>
	</div>
	<div class="imageHeader">
	</div>
	<div class="publicity">
	</div>
	<div clas="container">
		<div class="containerPost">
			<p></p>
			<img src="">
			<p class="legend"></p>
			<p></p>
			<p></p>
			<p class="comment"></p>
			<form>
				<input type="text" placeholder="name">
				<input type="text" placeholder="email">
				<textarea></textarea>
				<button>enviar</button>
			</form> 
		</div>
		<div class="containerBox">
			<div class="box"></div>
			<div class="box"></div>
			<img src="">
			<img src="">
			<img src="">
			<div class="box"></div>
		</div>  
	</div>
	<footer></footer>
</div>
