<h1>Vista de Home</h1>
<!-- articulo principal -->
<div class="header-container-content"></div>
<div class="body-container-content">
	<div class="date-container-content">
		<span class="date">29</span><br>
		<span class="month">May</span><br>
		<span class="year">2015</span>
    </div>
    <div class="row2">
    	<!--?php include('../templates/boxes/box.php'); ?-->
    	<!--?php include('../templates/boxes/box.php'); ?-->
    </div>
    <div class="row3">
    	<!--?php include('../templates/boxes/box.php'); ?-->
        <!--?php include('../templates/boxes/box.php'); ?-->
        <!--?php include('../templates/boxes/box.php'); ?-->
    </div>
    <!--?php include_once('../templates/test/aside.html'); ?-->
</div>

<div class="body-container-content">
    <div class="date-container-content">
    	<span class="date">27</span><br>
    	<span class="month">May</span><br>
    	<span class="year">2015</span>
    </div>
    <div class="row3">
        <!--?php include('../templates/boxes/box.php'); ?-->
        <!--?php include('../templates/boxes/box.php'); ?-->
        <!--?php include('../templates/boxes/box.php'); ?-->
    </div>
    <div class="row2">
        <!--?php include('../templates/boxes/box.php'); ?-->
        <!--?php include('../templates/boxes/box.php'); ?-->
    </div>
</div>
<!--<section id="playlist">
    <article>articulo1</article>
    <article>articulo1</article>
    <article>articulo1</article>
    <article>articulo1</article>
</section>-->