<h1>Vista de Post</h1>
<article class="box" style="background: url('{{bgImgUrl}}')">

    <header>
        <h1 class="h1-box-header"><span>{{h1BoxHeader}}</span></h1>
        <h2 class ="h2-1-box-header no-caps">{{h2BoxHeader1}}</h2>
        <h2 class="h2-2-box-header capitalize">{{h2BoxHeader2}}</h2>
    </header>

    <footer>
        <h1 class="h1-box-footer small"><span>{{h1BoxFooter}}</span></h1>
        <img>
        <h2 class="h2-1-box-footer">{{h2BoxFooter1}}</h2>
        <h2 class="h2-2-box-footer capitalize">{{h2BoxFooter2}}</h2>
        <!--nav>
            <ul>
                <li class="views-box n-icon-22-views"><p></p></li>
                <li class="comments-box n-icon-22-comments"><p></p></li>
                <li class="likes-box n-icon-22-likes"><p></p></li>
            </ul>
        </nav-->
    </footer>
    <img class="box-icon" src="images/main/blank.png">
    <img class="box-icon-2 " src="images/main/blank.png">
    <img class="box-icon-favorite " src="images/main/blank.png">
</article>